<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcosmarques.devorador">

    <application
        android:name=".realm.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".flow.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".flow.NovaContaActivity" />
        <activity android:name=".flow.RelatorioActivity" />
        <activity android:name=".flow.NovoItemContaActivity" />
        <activity android:name=".flow.VisualizarContaActivity"></activity>
    </application>

</manifest>